<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--当前生产线-->
		<add key="Line" value="LINEE" />
		<add key="WorkShop" value="SMT" />
		<!--TCP服务端-->
		<add key="TCPServerIPAdress" value="192.168.52.133" />
		<add key="TCPServerPort" value="8070" />
		<!--TCP客户端-->
		<add key="TCPIPAdress" value="192.168.52.133" />
		<add key="TCPPort" value="8090" />
		<add key="TCPLocationPort" value="8060" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>